* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.game-container {
  height: 100vh;
  width: 100%;
  background: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.trees {
  height: 92%;
  width: 100vw;
  position: absolute;
  background-image: url(assets/trees.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.track {
  top: 83%;
  position: absolute;
  width: 1000vw;
  height: 16%;
  background-repeat: repeat-x;
  background: url(assets/track.png);
}
.bodyshaking {
  animation: bodyshaking linear 0.7s infinite;
}
.excilatorclicksoundstart {
  animation: trackmoving linear 6s infinite;
}
.breakclicksoundstop {
  animation: tracknotmoving linear 0.8s infinite;
}
.car {
  height: 200vh;
  width: 380vw;
  position: relative;
  background-image: url(assets/car_body.png);
  height: 100px;
  width: 380px;
  background-position: center;
  background-size: cover;
  top: 74vh;
  left: 23vw;
}
.carshaking {
  animation: carshaking linear 0.5s infinite;
}
.wheel1 {
  top: 31px;
  left: 45px;
  background-image: url(assets/car_wheel_left.png);
  position: relative;
  height: 75px;
  width: 69px;
  background-repeat: no-repeat;
  background-size: cover;
}
.wheel2 {
  top: -39px;
  left: 235px;
  background-image: url(assets/car_wheel_left.png);
  position: relative;
  height: 75px;
  width: 69px;
  background-repeat: no-repeat;
  background-size: cover;
}

.excilator {
  left: 93vw;
  top: 68vh;
  position: absolute;
  border: none;
  background: transparent;
}
.excilator img {
  width: 53px;
}
.clickexcilator {
  animation: rotatebutton linear 0.2s;
}
.break {
  left: 84vw;
  top: 73.5vh;
  position: absolute;
  border: none;
  background: transparent;
}
.break img {
  height: 72px;
  width: 94px;
}
.clickbreak {
  animation: rotatebutton linear 0.2s;
}

/* animations keyframe */
@keyframes trackmoving {
  100% {
    transform: translateX(-50%);
  }
}
@keyframes tracknotmoving {
  100% {
    transform: translateX(0%);
  }
}
@keyframes carshaking {
  0% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}

@keyframes bodyshaking {
  0% {
    transform: translateY(-0.5%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0.5%);
  }
}

@keyframes rotatebutton {
  /* 0% {
    transform: rotatex(45deg);
  }
  50% {
    transform: rotatex(35deg);
  } */
  100% {
    transform: rotatex(45deg);
  }
}
