@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.row {
  gap: 9px;
}
.button {
  margin: 3px 0px;
  height: 42px;
  width: 37px;
  font-size: 15px;
  border-radius: 22%;
  border: 1.4px solid;
  padding: 12px;
  cursor: pointer;
  display: flex;
  text-align: center;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 0px auto;
  width: 210px;
  box-sizing: border-box;
  padding: 20px;
  background: black;
  border-radius: 20px;
  color: white;
}
.calculator__screen {
  margin: 14px auto;
  background: grey;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  text-align: right;
  padding: 2px;
  border-radius: 5px;
}
.zero {
  font-size: 23px;
  width: 83px;
}
