.blog-post {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/blog.jpeg);
  height: 458px;
}
.blog-content {
  padding: 22px;
}
.blog-content h1 {
  text-align: center;
}
.blog-content p {
  margin: 0px 123px;
}
.home-articles {
  background: #c7eaea;
  border-radius: 41px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}
.home-article {
  background: linear-gradient(52deg, aqua, white, transparent);
  padding: 11px;
  border-radius: 12px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0px 53px;
}
.home-article h1 {
  margin: 5px 3px;
  font-size: 15px;
}
.Author {
  margin: 5px 0px 4px 2px;
}
.article-title h1 {
  margin-left: 29px;
  margin-bottom: 25px;
}
.meta {
  margin: 15px 0px;
  padding: 7px 24px;
  justify-content: space-around;
  display: flex;
}
.meta-info {
  gap: 5px;
  flex-direction: column;
  display: flex;
}
.meta-links {
  display: flex;
}
.icons {
  margin: 0px 10px;
}
.fb img {
  height: 30px;
}
.insta img {
  height: 30px;
}
.twit img {
  height: 30px;
}
