* {
  margin: 0;
  padding: 0;
}
main {
  background-image: url(../images/R.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  z-index: 1;
}
main h1 {
  font-weight: 300;
  font-size: xx-large;
  color: #913636;
  padding-top: 10px;
  margin-bottom: 12px;
}
.contatc-content {
  z-index: 0;
}

.contact-form {
  border-radius: 10px;
  border: 1px solid black;
  padding: 23px;
  width: 70vw;
  background: linear-gradient(143deg, #94ddd6, white, #90e8eb, transparent);
}
